:root {
  --primary-color: #705d89;
  --secondary-color: #c6bcdb;
  --accent-color: #848586;
  --light-color: #ffffff;
  --dark-color: #34373b;
  --text-color: #000000;
  --box-shadow-color: rgba(52, 55, 59, 0.2);
  --font-size-h1: 1.75rem; /* Larger size */
  --font-size-p: 1.125rem; /* Larger size */
  --font-size-card-title: 1.5rem; 
  --font-size-card-text: 1.125rem; 
}

.app-background {
  background-color: var(--light-color);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.paragraph {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-p); 
}

h1, .common-heading {
  font-size: var(--font-size-h1);
  margin-bottom: 2rem;
  color: var(--text-color);
}

p, .common-paragraph, .list-item-text {
  font-size: var(--font-size-p);
  line-height: 1.5;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* Mobile */
@media screen and (max-width: 576px) {
  h1, .common-heading {
    font-size: 1.5rem; /* Larger size */
  }

  p, .common-paragraph, .list-item-text {
    font-size: 1rem; /* Larger size */
    line-height: 1.2;
  }

  .img-fluid {
    max-width: 80%;
  }
}

/* Tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  h1, .common-heading {
    font-size: 2rem; /* Larger size */
    margin-bottom: 1rem;
  }

  p, .common-paragraph, .list-item-text {
    font-size: 1.125rem; /* Larger size */
    margin-bottom: 1rem;
  }
}

/* Desktop */
@media screen and (min-width: 769px) {
  /* Add any desktop-specific styles here */
}

.card {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--light-color);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.card-body {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.card-title {
  font-size: var(--font-size-card-title);
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.card-text {
  font-size: var(--font-size-card-text);
  line-height: 1.5;
  color: var(--dark-color);
}

.custom-button {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: var(--light-color);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
  transform: scale(1.05);
}

.contact-container, .project-container {
  background-color: var(--light-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--box-shadow-color);
  margin-top: 1rem; 
}

.contact-link {
  color: var(--dark-color);
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: var(--primary-color);
}

.contact-icon {
  transition: transform 0.3s ease;
}

.contact-link:hover .contact-icon {
  transform: translateY(-5px);
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap; 
}

.project-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ModalStyles.css */
.custom-modal .modal-content {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-modal-header {
  background-color: var(--primary-color);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-modal-body {
  padding: 2rem;
  background-color: var(--light-color);
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.custom-modal-header {
  background-color: var(--primary-color);
  color: white;
}

.custom-modal-body {
  padding: 0;
}
